@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	display: flex;
	flex-direction: column;
	height: 100vh;
}
main {
	flex: 1 0 auto;
}

.menuBottom {
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.3) !important;
}
.menuIcons {
	margin-bottom: 0.3em !important;
	font-size: 2.2em !important;
}

a {
	text-decoration: none !important;
}

@layer base {
	h1 {
		@apply text-4xl  mb-8 leading-loose lg:text-5xl;
	}
	h2 {
		@apply text-4xl  mb-14 relative;
	}
	h3 {
		@apply text-2xl mb-3;
	}
	h4 {
		@apply text-xl font-bold mb-2;
	}
}

@layer components {
	.nav-link {
		@apply flex p-1 font-normal gap-1 items-center cursor-pointer;
	}
	.active {
		@apply text-teal-500;
	}
	.btn {
		@apply text-neutral-content rounded-none shadow-2xl;
	}
	.icon-button {
		@apply cursor-default pointer-events-none text-dark;
	}
	.select {
		@apply w-full h-full text-blue-gray-700 outline outline-0 focus:outline-0 disabled:bg-blue-gray-50 disabled:border-0 transition-all placeholder-shown:border placeholder-shown:border-blue-gray-200 placeholder-shown:border-t-blue-gray-200 border focus:border  text-sm px-3 py-2.5 border-blue-gray-200 focus:border-teal-500 rounded-md;
	}
}
.nav-link {
	display: flex;
}
